<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Intrusion Alert!</title>
</head>

<body>
    <div>
        <p>We regret to inform you that an intrusion has been detected in your home.</p>
        <p>Intrusion happend at: {{time}}</p>
        <p>If you this individual or suspect any unusual activity, please contact the authorities immediately.
        </p>
        <p>Thank you for your attention to this matter.</p>
        <p>Sincerely,</p>
        <p>Home Security System Support</p>
    </div>
</body>

</html>