<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home Security Alert!</title>
</head>

<body>
    <div>
        <p class="pin">This image was taken at: {{time}}:</p>
        <p>If this is someone you suspect, never hesitate to call for help.</p>
        <p>Regards,</p>
        <p>Home Security System Support</p>
    </div>
</body>

</html>